body {
    background-color: #f5f5f5;
}

.inline-block {
    display: inline-block;
}

.guestpost {
    padding: 0.5em;
    background-color: #e3e3e3;
}

.comments {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #e3e3e3;
    border-radius: 4px;
}

.no-underline {
    text-decoration: none;
    box-shadow: none;
}

/* Mobile specific css */
@media (max-width : 650px) {
    #header-social-bar {
        display: none;
    }

    .byline {
        font-size: 0.7em !important;
    }

    h1 {
        font-weight: 500;
        font-size: 2em;
    }
}
